### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

backend/HELP.md
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/


### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

## Front
#dependencies
frontend/node_modules

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# env files (can opt-in for committing if needed)
frontend/.env*
frontend/next-env.d.ts

